body{
    font-family: 'arial';
    background-color: #ebe8e8;
}

.jumbotron{
    padding: 1px;
    margin-left: 1px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #3975ea;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-left{
    margin-left: 225px;
    margin-top: 15px;
    margin-bottom: 10px ;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-right{
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: -35px;
    padding-top: -20px;
    color: white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-spacing: 10px;
}

.image-header{
    width: 20px;
    max-height: 20px;
}

nav li{
    display:inline-block;
}

nav a{
    text-decoration: none;
    color: white;
}

.status{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    margin-left: 450px;
    margin-right: 460px;
    background-color: white;
}

.status input{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    text-align:justify;
    padding-left:15px ;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #aeaeae;
}


.status a{
    display: flexbox;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    outline: 1px solid #aeaeae;
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 10px;
}

.stories{
    display: flexbox;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 450px;
    margin-right: 460px;
    margin-bottom: auto;
    background-color: white;
}

.stories a{
    text-decoration: none;
    color: #3975ea;
    padding-left: 290px;
}

.stories .story{
    margin-bottom: 10px;
    width: 23%;
    height: 40%;
}

.stories .post{
    width:380px;
    height: 150px;
    text-align: center;
}

aside{
    width: 10%;
    height: 350px;
    float: left;
    background: none;
    padding: 50px;
    margin-bottom: 20px;
    margin-top: 1px;
    
}

aside h4{
    color: #838383;
    margin-bottom: 10px;
}

aside a{
    text-decoration: none;
    color: black;
}

aside .more{
    color: #3975ea;
    padding: 23px;
}
